
<h3>Version 1.0</h3>

This release of CancerMiner includes data from the following
<%= @cancer_types.size %> TCGA cancer types:

<div id="maincontent">
  <table>
     <tr>
       <th>Abbreviation</th>
       <th>Cancer Type</th>
       <th>Samples</th>
     </tr>
     <% @cancer_types.each do |ct| %>
     <tr>
       <td><font color=" <%= ct.color %> "><%= ct.name %> </font></td>
       <td><%= ct.description %></td>
       <td align="right"><%= ct.sample_count %></td>
     </tr>
     <% end %>
     
  </table>
</div>

<br>
<h3>Download</h3>

This is a snapshot of the data in the current realease of CancerMiner:
<br><br>
<a href="https://drive.google.com/file/d/0BzhT7Wh0E922MGFkR2dMZ0xuTVk/edit?usp=sharing">CancerMiner v.1.0 data snapshot</a>
